*.user

.vs/

Katzebase.CodeGeneration/bin/

Katzebase.CodeGeneration/obj/

Katzebase.Engine/bin/

Katzebase.Engine/obj/

Katzebase.Library/bin/

Katzebase.Library/obj/

Katzebase.Service/bin/

Katzebase.Service/obj/

Katzebase.TestHarness/bin/

Katzebase.TestHarness/obj/

packages/

Katzebase.UI/bin/

Katzebase.UI/obj/

Katzebase.PublicLibrary/bin/

Katzebase.PublicLibrary/obj/

Katzebase.PrivateLibrary/obj/

Katzebase.PrivateLibrary/bin/

\@Installers/Output/

Katzebase.Benchmark/bin/

Katzebase.Benchmark/obj/

NTDLS.Katzebase.TestHarness/bin/

NTDLS.Katzebase.TestHarness/obj/

NTDLS.Katzebase.UI/bin/

NTDLS.Katzebase.UI/obj/

NTDLS.Katzebase.Shared/bin/

NTDLS.Katzebase.Shared/obj/

NTDLS.Katzebase.Service/bin/

NTDLS.Katzebase.Service/obj/

NTDLS.Katzebase.Engine/bin/

NTDLS.Katzebase.Engine/obj/

NTDLS.Katzebase.Benchmark/bin/

NTDLS.Katzebase.Benchmark/obj/

NTDLS.Katzebase/bin/

NTDLS.Katzebase/obj/

NTDLS.Katzebase.ClientTest/bin/

NTDLS.Katzebase.ClientTest/obj/

NTDLS.Katzebase.Client/bin/

NTDLS.Katzebase.Client/obj/

NTDLS.Katzebase.SQLServerMigration/obj/

NTDLS.Katzebase.SQLServerMigration/bin/

TestApplications/Benchmark/bin/

TestApplications/Benchmark/obj/

TestApplications/ClientTest/bin/

TestApplications/ClientTest/obj/

TestApplications/NugetTest/bin/

TestApplications/NugetTest/obj/

NTDLS.Katzebase.Debuging/obj/
