*.user

.vs/

Katzebase.CodeGeneration/bin/

Katzebase.CodeGeneration/obj/

Katzebase.Engine/bin/

Katzebase.Engine/obj/

Katzebase.Library/bin/

Katzebase.Library/obj/

Katzebase.Service/bin/

Katzebase.Service/obj/

Katzebase.TestHarness/bin/

Katzebase.TestHarness/obj/

packages/

Katzebase.UI/bin/

Katzebase.UI/obj/

Katzebase.PublicLibrary/bin/

Katzebase.PublicLibrary/obj/
