*.user

.vs/

Dokdex.CodeGeneration/bin/

Dokdex.CodeGeneration/obj/

Dokdex.Engine/bin/

Dokdex.Engine/obj/

Dokdex.Library/bin/

Dokdex.Library/obj/

Dokdex.Service/bin/

Dokdex.Service/obj/

Dokdex.TestHarness/bin/

Dokdex.TestHarness/obj/

packages/
